{% extends '_base_buyer_login.html' %}

{% block content %}
<div class="container text-center mt-2">
    <div class="row no-gutters justify-content-center">
        <h5 class="card-title">
            Resetta PASSWORD inserisci la e-mail di registrazione: [ {{ id }} ].
        </h5>
        <div class="col-md-8 shadow shadow rounded"
             style="border: solid 2px #ED6666 !important;">
            <form enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                <br>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <br>
                    <span class="text-danger">{{ error }}</span>
                    <br>
                    {% endfor %}
                    {% endif %}
                </div>
                <br>
                <button id="button" class="btn btn-update" type="submit" title="Send new password." value="x">
                    <img class="icon-simple" src="{{ url_for('static', filename='icons/save.svg') }}"
                         alt=""/>
                </button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
