{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
    <div class="row no-gutters justify-content-center">
        <h5 class="card-title">
            <a class="btn btn-update" type="button" href="{{ url_for('buyer_view') }}" title="Annulla">
                <img class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}" alt="" />
            </a>
            Aggiungi ACQUIRENTE al Consorzio:
        </h5>
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                <br>
                <div class="form-group">
                    {{ form.buyer_name.label }}
                    {{ form.buyer_name(class="form-control") }}
                    {% if form.buyer_name.errors %}
                        {% for error in form.buyer_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-6 order-first">
                        <br>
                        <div class="form-group">
                            {{ form.buyer_type.label }}
                            {{ form.buyer_type(class="form-control", style="text-align: center;") }}
                            {% if form.buyer_type.errors %}
                                {% for error in form.buyer_type.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.phone.label }}
                            {{ form.phone(class="form-control") }}
                            {% if form.phone.errors %}
                                {% for error in form.phone.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.affiliation_status.label }}
                            {{ form.affiliation_status(class="form-control", style="text-align: center;") }}
                            {% if form.affiliation_status.errors %}
                                {% for error in form.affiliation_status.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                    </div>

                    <div class="col-md-6 order-second">
                        <br>
                        <div class="form-group">
                            {{ form.address.label }}
                            {{ form.address(class="form-control") }}
                            {% if form.address.errors %}
                                {% for error in form.address.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.cap.label }}
                            {{ form.cap(class="form-control") }}
                            {% if form.cap.errors %}
                                {% for error in form.cap.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.city.label }}
                            {{ form.city(class="form-control") }}
                            {% if form.city.errors %}
                                {% for error in form.city.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.affiliation_start_date.label }}
                            {{ form.affiliation_start_date(class="form-control") }}
                            {% if form.affiliation_start_date.errors %}
                                {% for error in form.affiliation_start_date.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.user_id.label }}
                            {{ form.user_id(class="form-control", style="text-align: center;") }}
                            {% if form.user_id.errors %}
                                {% for error in form.user_id.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.note_certificate.label }}
                    <p class="comment">Queste note compariranno nella stampa del certificato. Usale con cautela.</p>
                    {{ form.note_certificate(class="form-control") }}
                    {% if form.note_certificate.errors %}
                        {% for error in form.note_certificate.errors %}
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.note.label }}
                    {{ form.note(class="form-control") }}
                    {% if form.note.errors %}
                        {% for error in form.note.errors %}
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <button id="button" class="btn btn-update" type="submit" title="Salva" value="x">
                    <img class="icon-simple" src="{{ url_for('static', filename='icons/pencil-fill_green.svg') }}"
                         alt=""/>
                </button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
