.about-page-block {
    background-color: #DEDEDE;
    border: 1px solid #5B5A5B;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.about-snippet-block {
    background-color: #DEDEDE;
    border: 1px solid #5B5A5B;
    border-radius: 5px;
    padding: 20px;
}

.active {
    color: #9BB5E8;
    fill: #9BB5E8;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #2B4692;
}

.btn {
    background-color: transparent;
    background-position: center;
    align-items: center;
    padding: 2px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn-update {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 5px;
    background-position: center;
    align-items: center;
    vertical-align: middle;
    padding: 2px;
}

.icon-table,
.btn-table {
    background-color: transparent;
    width: 18px;
    height: 18px;
    margin: 2px;
    background-position: center;
    align-items: center;
    vertical-align: middle;
}

.btn-update:hover {
    background-color: #f6f6f6;
    border-color: transparent;
}

.btn-update:disabled {
    background-color: transparent;
    color: #DEDEDE;
    border-style: none;
}

.card-title {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
}

.chart-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

checkbox {
    width: 24px;
    height: 24px;
}

.content-container {
    max-width: 1028px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.custom-link {
    color: #3976C6;
}

.custom-link:hover {
    color: #9BB5E8;
    text-decoration: none;
}

.dataTables_length {
    text-align: left;
}

.dataTables_info {
    text-align: left;
}

.delete {
    background-color: transparent;
    border-style: hidden;
}

.footer-text,
.footer {
    font-size: 0.6rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.form-control {
    border-color: #DEDEDE;
    box-shadow: #9BB5E8;
}

.icon-simple,
.bi,
.bi-globe2 {
    color: #3976C6;
    height: 38px;
    width: 38px;
    margin: 0px;
    padding: 2px;
}

.icon-disable {
    fill: #DEDEDE;
}



img {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

input,
.input {
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #DEDEDE;
    border-image: none;
    box-shadow: #9BB5E8;
    padding-left: 2px;
    text-align: center;
}

.message {
    color: #ED6666;
    font-family: 'Jost', sans-serif;
    font-size: 0.8rem;
}

.nav-item {
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}

.navbar-bg-white {
    background-color: #2B4692;
    border: 1px solid #2B4692;
    color: #ffffff;
}

.navbar-container {
    max-width: 1080px;
    font-size: 0.875rem;
    padding: 0px 0px 0px 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #9BB5E8;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}

.navbar-toggler{
    border:  4px solid #fffff;
}


.nav-link:hover {
    color: #F6D11B;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}

.pagination-block {
    margin-bottom: 10px;
}

.pagination {
    --bs-pagination-active-color: #DEDEDE;
    --bs-pagination-active-bg: #2B4692;
    --bs-pagination-active-border-color: #2B4692;
}

.post-page-block {
    background-color: #DEDEDE;
    border: 1px solid #5B5A5B;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.primary {
    color: #2B4692;
    font-size: 0.7rem;
    width: auto;
}

.p-small-one {
    font-size: 0.875rem;
}

.p-small-two {
    font-size: 0.8rem;
}

.query-form {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.query-resource-result {
    font-weight: bold;
    color: #5B5A5B;
}

.query-resource-result-link {
    font-weight: bold;
    font-style: italic;
    color: #5B5A5B;
    text-decoration: underline;
}

.select {
    border-radius: 5%;
    border: solid 1px #5B5A5B
}

.secondary {
    color: #5B5A5B;
    font-size: 0.7rem;
    width: auto;
}

.single-post-home {
    background-color: #DEDEDE;
    border: 1px solid #5B5A5B;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.text-danger {
    font-family: 'Jost', sans-serif;
    font-size: 0.8rem;
}

.title {
    color: #ffffff;
    font-size: 0.8rem;
}


@media (min-width: 768px) {
    .pagination-block {
        margin-left: 15px;
    }

    .nav-link {
        padding-right: 0px ip !important;
        padding-left: 1rem !important;
    }
}
