{% extends '_base_buyer.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
    {{ form.csrf_token }}
    <div class="container text-center" style="margin-top: 0px !important;">
        <h5 class="card-title">
            <a class="btn btn-update" type="button" title="Vai a lista records" style="width: 30px; height: 30px;"
               href="{{ url_for(view) }}">
                <img class="icon-simple" style="width: 30px; height: 30px;"
                     src="{{ url_for('static', filename='icons/list_blue.svg') }}" alt=""/>
            </a>
            Dati CERTIFICATO CONSORZIO [ {{ form.certificate_nr }} ]
            <a class="btn btn-update" type="button" title="Modifica Certificato" style="width: 28px; height: 28px;"
               href="{{ url_for(update, _id=form.id) }}">
                <img class="icon-simple" style="width: 28px; height: 28px;"
                     src="{{ url_for('static', filename='icons/pencil_red.svg') }}" alt=""/>
            </a>
        </h5>
    </div>
    <div class="container text-center mt-2 justify-content-center">
        <div class="row no-gutters justify-content-center rounded"
             style="background-color: #DEDEDE; padding-top: 10px;">
            <div class="col-md-3 order-2">
                <div class="form-group">
                    <h5 style="font-weight: bold;"> Coccarda </h5>
                    <p class="form-control" style="font-weight: bold; color: #ED6666">
                        {{ form.cockade_nr }}
                    </p>
                </div>
            </div>
            <div class="col-md-3 order-3">
                <div class="form-group">
                    <h5 style="font-weight: bold;"> Data </h5>
                    <p class="form-control" style="font-weight: bold; color: #ED6666">
                        {{ form.certificate_date }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters justify-content-center rounded" style="background-color: #DEDEDE">
            <div class="col-md-4 order-first">
                <div class="form-group">
                    Categoria
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.head_category }}
                    </p>
                </div>
            </div>
            <div class="col-md-2 order-second">
                <div class="form-group">
                    Età
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.head_age }}
                    </p>
                </div>
            </div>
            {% if form.batch_number %}
            <div class="col-md-2 order-third">
                <div class="form-group">
                    Lotto
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.batch_number }}
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="col-md-4 order-fourth">
                <div class="form-group">
                    <h6> Tipo Vendita </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.sale_type }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters justify-content-center rounded" style="background-color: #DEDEDE">
            <div class="col-md-3 order-first">
                <div class="form-group">
                    <h6> Quantità (kg) </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.sale_quantity }}
                    </p>
                </div>
            </div>
            <div class="col-md-3 order-sixth">
                <div class="form-group">
                    <h6> Rimanenza </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.sale_rest }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters justify-content-center rounded" style="background-color: #DEDEDE">
            <div class="col-md-6 order-first">
                <div class="form-group">
                    <h6> Capo </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.head_id }}
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-second">
                <div class="form-group">
                    <h6> Allevatore </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.farmer_id }}
                    </p>
                </div>
            </div>
        </div>
        {% if form.slaughterhouse_id %}
        <div class="row no-gutters justify-content-center rounded" style="background-color: #DEDEDE">
            <div class="col-md-6 order-7">
                <div class="form-group">
                    <h6> Macello </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.slaughterhouse_id }}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group rounded"
             style="background-color: #DEDEDE; padding-left: 10px; padding-right: 10px;">
            <h6> Note Certificato </h6>
            <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                {{ form.note_certificate }}
            </p>
        </div>
    </div>
</form>
<br>
<p class="info"> Data Creazione: {{ form.created_at }} </p>
<p class="info"> Ultima modifica: {{ form.updated_at }} </p>

{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}
