{% extends '_base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
    <div class="container text-center mt-2 mx-auto" style="margin: 0px;">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-12 shadow rounded">
                <h2 class="card-title" style="padding: 20px;">
                    Elenco CERTIFICATI Consorzio:</h2>
                <!-- VISUALIZZO I GRAFICI -->
                <div class="accordion" id="head_accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="1">
                            <button class="accordion-button" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse"
                                    aria-expanded="true"
                                    aria-controls="collapse">
                                Grafici
                            </button>
                        </h2>
                        <div id="collapse" class="accordion-collapse collapse"
                             aria-labelledby="heading"
                             data-bs-parent="#accordion">
                            <br>
                            <div class="row no-gutters justify-content-center">
                                <!-- GRAFICO PER ANNI -->
                                <div class="col-md-4 order-first" style="padding-left:15px">
                                    <div class="card chart-container">
                                        <canvas id="chart_years"></canvas>
                                    </div>
                                </div>
                                <!-- GRAFICO PER ALLEVATORI -->
                                <div class="col-md-4 order-second">
                                    <div class="card chart-container">
                                        <canvas id="chart_farmers"></canvas>
                                    </div>
                                </div>
                                <!-- GRAFICO PER ACQUIRENTI -->
                                <div class="col-md-4 order-third" style="padding-right:15px">
                                    <div class="card chart-container">
                                        <canvas id="chart_buyers"></canvas>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- Ricerca per anno-->
                <br>
                <form method="post">
                    <label for="year">Anno certificato:</label>
                    <input id="year" type='search' name='year' style="width: 80px;"/>
                    <button type="submit" class="btn" title="Ricerca" style="">
                        <img src="{{ url_for('static', filename='icons/search.svg') }}" alt="">
                    </button>
                </form>
                <!--Tabella-->
                <div class="table-responsive" style="padding: 10px">
                    <table id="data" class="table table-striped" style="width:100%">
                        <thead>
                        <tr style="background-color: #2B4692; vertical-align: center;">
                            <th class="title" id="h1">ID</th>
                            <th class="title" id="h2">NR</th>
                            <th class="title" id="h3">Data</th>
                            <th class="title" id="h4">Anno</th>
                            <th class="title" id="h5">Coccarda</th>
                            <th class="title" id="h6">Vendita</th>
                            <th class="title" id="h7">Rimane</th>
                            <th class="title" id="h8">Capo</th>
                            <th class="title" id="h9">Allev.</th>
                            <th class="title" id="h10">Acquir.</th>
                            <th class="title" id="h11">Età</th>
                            <th class="title" id="h12">Tipo</th>
                            <th class="title" id="h13">Fatt.</th>
                            <th class="title" id="h14">Note</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in form %}
                        <tr style="border: 0pz; vertical-align: center;">
                            <td style="width: 20px; padding:2px;">
                                <a class="tab-link" title="Visualizza" style=""
                                   href="{{ url_for(history, _id=row.id) }}">
                                    {{ row.id|e }}
                                </a>
                            </td>
                            <td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.certificate_nr|e }}
                            </td>
                            <td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.certificate_date|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.certificate_year|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.cockade_nr|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.sale_type|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.sale_rest|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                <a class="tab-link" title="Visualizza" style=""
                                   href="{{ url_for(h_hist, _id=row.head_id) }}">
                                    {{ row.head_id|e }}
                                </a>
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                <a class="tab-link" title="Visualizza" style=""
                                   href="{{ url_for(f_hist, _id=row.farmer_id) }}">
                                    {{ row.farmer_id|e }}
                                </a>
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                <a class="tab-link" title="Visualizza" style=""
                                   href="{{ url_for(b_hist, _id=row.buyer_id) }}">
                                    {{ row.buyer_id|e }}
                                </a>
                            </td>
                            <td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.head_age|e }}
                            </td>
                            <td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.head_category|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.invoice_status|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.note|e }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            }
        });
    });

    // Impostazioni grafico ANNI
    let years_labels = JSON.parse({{ years_labels | tojson }})
    // console.log("LABELS: ", years_labels)

    let years_values = JSON.parse({{ years_values | tojson }})
    // console.log("VALUES: ", years_values)

    const data = {
        labels: years_labels,
        datasets: [{
            label: "Certificati (5 anni)",
            data: years_values,
            fill: false,
            backgroundColor: "#ED6666", //red
            borderColor: "#ED6666",
            borderWidth: 1,
            borderRadius: 2,
        }]
    };
    const config = {
        type: 'bar',
        data: data,
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    };
    const ctx = document.getElementById('chart_years').getContext('2d');
    const myChart = new Chart(ctx, config);


    // Impostazioni grafico ALLEVATORI
    let farmers_labels = JSON.parse({{ farmers_labels | tojson }})
    // console.log("LABELS: ", farmers_labels)

    let farmers_values = JSON.parse({{ farmers_values | tojson }})
    // console.log("VALUES: ", farmers_values)

    const data1 = {
        labels: farmers_labels,
        datasets: [{
            label: "per Allevatore",
            data: farmers_values,
            fill: false,
            backgroundColor: "#2B4692", //blue
            borderColor: "#2B4692",
            borderWidth: 1,
            borderRadius: 2,
        }]
    };
    const config1 = {
        type: 'bar',
        data: data1,
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    };
    const ctx1 = document.getElementById('chart_farmers').getContext('2d');
    const myChart1 = new Chart(ctx1, config1);


    // Impostazioni grafico ACQUIRENTI
    let buyers_labels = JSON.parse({{ buyers_labels | tojson }})
    // console.log("LABELS: ", buyers_labels)

    let buyers_values = JSON.parse({{ buyers_values | tojson }})
    // console.log("VALUES: ", buyers_values)

    const data2 = {
        labels: buyers_labels,
        datasets: [{
            label: "per Acquirente",
            data: buyers_values,
            fill: false,
            backgroundColor: "#5B5A5B", //grey
            borderColor: "#5B5A5B",
            borderWidth: 1,
            borderRadius: 2,
        }]
    };
    const config2 = {
        type: 'bar',
        data: data2,
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: true }
            }
        }
    };
    const ctx2 = document.getElementById('chart_buyers').getContext('2d');
    const myChart2 = new Chart(ctx2, config2);
</script>
{% endblock %}
