{% extends '_base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
    <div class="container text-center mt-2 mx-auto" style="margin: 0px;">
        <div class="row no-gutters justify-content-center">
            <div class="shadow rounded">
                <h2 class="card-title" style="padding: 20px;">
                    Elenco Certificati DNA Capi:</h2>
                <div class="table-responsive" style="padding: 10px">
                    <table id="data" class="table table-striped" style="width:100%">
                        <thead>
                        <tr style="background-color: #2B4692; vertical-align: center;">
                            <th class="title text-center" id="h1">ID</th>
                            <th class="title text-center" id="h3">Nr.</th>
                            <th class="title text-center" id="h4">Data</th>
                            <th class="title text-center" id="h5">Anno</th>
                            <th class="title text-center" id="h6">Capo</th>
                            <th class="title text-center" id="h8">Allevatore</th>
                            <th class="title text-center" id="h9">Vet.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in form %}
                        <tr style="border: 0pz; vertical-align: center;">
                            <td style="width: 20px; padding:2px;">
                                <a class="tab-link" title="Visualizza" style=""
                                   href="{{ url_for(history, _id=row.id) }}">
                                    {{ row.id|e }}
                                </a>
                            </td>
                            <td class="primary fw-bold text-center" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.dna_cert_nr|e }}
                            </td>
                            <td class="secondary fw-bold text-center" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.dna_cert_date|e }}
                            </td>
                            <td class="primary fw-bold text-center" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.dna_cert_year|e }}
                            </td>
                            <td class="secondary text-center" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.head_id|e }}
                            </td>
                            <td class="secondary text-center" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.farmer_id|e }}
                            </td>
                            <td class="secondary text-center" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.veterinarian|e }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            }
        });
    });





















</script>
{% endblock %}
