{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
	<div class="row no-gutters justify-content-center">
		<h3 class="card-title">
			<a class="btn btn-update" href="{{ url_for(head_history, _id=h_id) }}" title="Annulla"
			   type="button">
				<img alt="" class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}"/>
			</a>
			Aggiungi Certificato DNA al Capo [ {{ h_set }} ]
		</h3>
		Allevatore: [ {{ f_id }} ]
		<div class="col-md-12 shadow rounded" style="border: solid 2px #ED6666 !important;">
			<form enctype="multipart/form-data" method="POST" style="padding-top: 10px;">
				{{ form.csrf_token }}
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-3 order-first">
						{{ form.dna_cert_id.label(style="font-size: 1.2rem;") }}
						<p class="comment">Inserisci il numero del certificato senza il riferimento all'anno
							"/20XX".</p>
						<p class="comment">Verrà assegnato dalla Data del Certificato.</p>
						{{ form.dna_cert_id(class="form-control", style="text-align: center;") }}
						{% if form.dna_cert_id.errors %}
						{% for error in form.dna_cert_id.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="col-md-3 order-second">
						<div class="form-group">
							{{ form.dna_cert_date.label(style="font-size: 1.2rem;") }}
							{{ form.dna_cert_date(class="form-control") }}
							{% if form.dna_cert_date.errors %}
							{% for error in form.dna_cert_date.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<div class="col-md-5 order-second">
						<div class="form-group">
							{{ form.veterinarian.label(style="font-size: 1.2rem;") }}
							{{ form.veterinarian(class="form-control") }}
							{% if form.veterinarian.errors %}
							{% for error in form.veterinarian.errors %}
							<span class="text-danger">{{ error }}</span>
							<br>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row no-gutters justify-content-center rounded"
					 style="background-color: #DEDEDE; padding-top: 10px; padding-bottom: 10px;">
					<div class="form-group">
						{{ form.note.label(style="font-size: 1.2rem;") }}
						{{ form.note(class="form-control") }}
						{% if form.note.errors %}
						{% for error in form.note.errors %}
						<span class="text-danger">{{ error }}</span>
						<br>
						{% endfor %}
						{% endif %}
					</div>
				</div>
				<br>
				<button class="btn btn-update" id="button" title="Salva" type="submit" value="x">
					<img alt="" class="icon-simple"
						 src="{{ url_for('static', filename='icons/save.svg') }}"/>
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
