{% extends '_base.html' %}

{% block content %}
<form enctype="multipart/form-data" method="POST">
    {{ form.csrf_token }}
    <div class="container text-center mt-2">
        <h5 class="card-title">
            <a class="btn btn-update" type="button" title="Torna indietro"
               href="{{ url_for('user_view') }}">
                <img class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}" alt=""/>
            </a>
            Dati account UTENTE SERVIZIO:
        </h5>
        <h5>
            "{{form.username}}"
        </h5>
        <a class="btn btn-update" type="button" title="Modifica utente" href="{{ url_for('user_update', data=form) }}">
            <img class="icon-simple" src="{{ url_for('static', filename='icons/pencil_grey.svg') }}" alt=""/>
        </a>
    </div>

    <div class="container text-center mt-2">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-6 order-first">
                <div class="form-group">
                    <h6> Username </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.username }}
                    </p>
                </div>
                <div class="form-group">
                    <h6> email </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.email }}
                    </p>
                </div>
                <div class="form-group">
                    <h6> Telefono </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.phone }}
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-second">
                <div class="form-group">
                    <h6> Nome e Cognome </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.full_name }}
                    </p>
                </div>
                <div class="form-group">
                    <h6> Ultima Modifica </h6>
                    <p class="form-control" style="font-weight: bold; color: #5B5A5B">
                        {{ form.updated_at }}
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container text-center mt-2 mx-auto" style="margin: 0px;">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-14">
                <h2 class="card-title" style="padding: 20px;">Elenco modifiche al record:</h2>
                <div>
                    <table id="data" class="table table-striped" style="width:100%">
                        <thead>
                        <tr style="background-color: #2B4692; vertical-align: center;">
                            <th class="title" id="h1" data-defaultsort="desc">ID</th>
                            <th class="title" id="h2">Modifica</th>
                            <th class="title" id="h3">Data</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in history_list %}
                        <tr style="border: 0pz; vertical-align: center;">
                            <td class="primary fw-bold" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.id|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.event|e }}
                            </td>
                            <td class="secondary" style="padding-bottom: 0pz; padding-top: 0pz;">
                                {{ row.created_at|e }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            responsive: {
                breakpoints: [
                    { name: 'bigdesktop', width: 1920 },
                    { name: 'meddesktop', width: 1480 },
                    { name: 'smalldesktop', width: 1280 },
                    { name: 'medium', width: 1188 },
                    { name: 'tabletl', width: 1024 },
                    { name: 'btwtabllandp', width: 848 },
                    { name: 'tabletp', width: 768 },
                    { name: 'mobilel', width: 480 },
                    { name: 'mobilep', width: 320 }
                ]
            }
        });
    });

</script>
{% endblock %}
