{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
    <div class="row no-gutters justify-content-center">
        <h5 class="card-title">
            <a class="btn btn-update" type="button" href="{{ url_for('farmer_view') }}" title="Annulla">
                <img class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}" alt="" />
            </a>
            Modifica ALLEVATORE del Consorzio:
        </h5>
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    Stato Affiliazione
                    {% if status == True %}
                       <img src="{{ url_for('static', filename='icons/check_OK.svg') }}" alt="">
                    {% else %}
                        <img src="{{ url_for('static', filename='icons/check_KO.svg') }}" alt="">
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if status != True %}
                        {% if end_date == "vuoto" or end_date == None %}
                            <span class="text-danger">
                                ATTENZIONE: manca la data di cessazione affiliazione.
                                Per inserirla esegui la procedura per il cambio dello stato affiliazione.</span>
                        {% endif %}
                    {% endif %}
                </div>
                <a class="btn btn-update" type="button" title="Modifica utente"
                   href="{{ url_for('farmer_affiliation_change', data=form.data) }}">
                    <img class="icon-simple" src="{{ url_for('static', filename='icons/change_affiliation.svg') }}" alt=""/>
                </a>
                <br>
                <div class="form-group">
                    {{ form.farmer_name.label }}
                    {{ form.farmer_name(class="form-control") }}
                    {% if form.farmer_name.errors %}
                        {% for error in form.farmer_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-4 order-first">
                        <br>
                        <div class="form-group">
                            {{ form.address.label }}
                            {{ form.address(class="form-control") }}
                            {% if form.address.errors %}
                                {% for error in form.address.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.cap.label }}
                            {{ form.cap(class="form-control") }}
                            {% if form.cap.errors %}
                                {% for error in form.cap.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.city.label }}
                            {{ form.city(class="form-control") }}
                            {% if form.city.errors %}
                                {% for error in form.city.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                    </div>
                    <div class="col-md-4 order-second">
                        <br>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.phone.label }}
                            {{ form.phone(class="form-control") }}
                            {% if form.phone.errors %}
                                {% for error in form.phone.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.affiliation_start_date.label }}
                            {{ form.affiliation_start_date(class="form-control") }}
                            {% if form.affiliation_start_date.errors %}
                                {% for error in form.affiliation_start_date.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if end_date != "vuoto" %}
                            <br>
                            <div class="form-group">
                                Cessazione Affiliazione
                                {{ end_date }}
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-md-4 order-third">
                        <br>
                        <div class="form-group">
                            {{ form.stable_code.label }}
                            {{ form.stable_code(class="form-control") }}
                            {% if form.stable_code.errors %}
                                {% for error in form.stable_code.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.stable_type.label }}
                            {{ form.stable_type(class="form-control", style="text-align: center;") }}
                            {% if form.stable_type.errors %}
                                {% for error in form.stable_type.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.stable_productive_orientation.label }}
                            {{ form.stable_productive_orientation(class="form-control", style="text-align: center;") }}
                            {% if form.stable_productive_orientation.errors %}
                                {% for error in form.stable_productive_orientation.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form.stable_breeding_methods.label }}
                            {{ form.stable_breeding_methods(class="form-control", style="text-align: center;") }}
                            {% if form.stable_breeding_methods.errors %}
                                {% for error in form.stable_breeding_methods.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.note_certificate.label }}
                    {{ form.note_certificate(class="form-control") }}
                    {% if form.note_certificate.errors %}
                        {% for error in form.note_certificate.errors %}
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                    <p class="comment">Queste note compariranno nella stampa del certificato. Usale con cautela.</p>
                </div>
                <div class="form-group">
                    {{ form.note.label }}
                    {{ form.note(class="form-control") }}
                    {% if form.note.errors %}
                        {% for error in form.note.errors %}
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <button id="button" class="btn btn-update" type="submit" title="Salva" value="x">
                    <img class="icon-simple" src="{{ url_for('static', filename='icons/pencil-fill_green.svg') }}"
                         alt=""/>
                </button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
