{% extends '_base.html' %}

{% block content %}
<div class="container text-center mt-2">
    <h5 class="card-title">
        <a class="btn btn-update" type="button" href="{{ url_for('farmer_view') }}" title="Annulla">
        <img class="icon-simple" src="{{ url_for('static', filename='icons/arrow_circle_left.svg') }}" alt="" />
        </a>
        Modifica AFFILIAZIONE per l'ALLEVATORE:
    </h5>
    <h5>
        "{{form.name.data}}"
    </h5>
    <br>
    <div class="row no-gutters justify-content-center">
        <div class="col-md-4">
            <form enctype="multipart/form-data" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.affiliation_end_date.label }}
                    {{ form.affiliation_end_date(class="form-control") }}
                    {% if form.affiliation_end_date.errors %}
                        {% for error in form.affiliation_end_date.errors %}
                            <br>
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                    <p class="comment">La data di cessazione è richiesta in questo form.</p>
                </div>
                <br>
                <div class="form-group justify-content-center">
                    {{ form.affiliation_status.label }}
                    {{ form.affiliation_status(class="form-control", style="text-align: center;") }}
                    {% if form.affiliation_status.errors %}
                        {% for error in form.affiliation_status.errors %}
                            <br>
                            <span class="text-danger">{{ error }}</span>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <button id="button" class="btn btn-update" type="submit" title="Salva" value="x">
                    <img class="icon-simple" src="{{ url_for('static', filename='icons/pencil-fill_green.svg') }}"
                         alt=""/>
                </button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
