<!DOCTYPE html>
<!--suppress SpellCheckingInspection -->
<html lang="en">

<head>
    <!-- Condiviso con tutte le views con barra di navigazione-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}ConsBueGrassoCarrù</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Logo.png') }}">

    <!-- CSS only boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">

    <!-- link a file .css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

    <!-- import plugin script -->
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/functions.js"></script>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg-white"
             style="padding-left: 10px; padding-rigth: 10px;">
            <a class="navbar-brand" title="Home" href="{{ url_for('admin_view') }}">
                <img src="{{ url_for('static', filename='Logo.png') }}" alt="" width="56" height="50"/>
            </a>

            <button class="navbar-toggler" style="color: white;" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link {% if request.path == '/admin/view/' %} active {% endif %}"
                       title="Admin" href="{{ url_for('admin_view') }}">
                        {% if request.path == '/admin_view/' %}
                            <img src="{{ url_for('static', filename='icons/admin-active.svg') }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/admin.svg') }}" alt="">
                        {% endif %}
                        Amministratori
                    </a>
                    <a class="nav-item nav-link {% if request.path == '/user/view/' %} active {% endif %}"
                       title="Users" href="{{ url_for('user_view') }}">
                        {% if request.path == '/user_view/' %}
                            <img src="{{ url_for('static', filename='icons/person-fill-active.svg') }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/person-fill.svg') }}" alt="">
                        {% endif %}
                        Utenti
                    </a>
                    <a class="nav-item nav-link {% if request.path == '/head/view/' %} active {% endif %}"
                       title="Allevatori" href="{{ url_for('head_view') }}">
                        {% if request.path == '/farmer_view/' %}
                            <img src="{{ url_for('static', filename='icons/head-active.svg') }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/head.svg') }}" alt="">
                        {% endif %}
                        Capi
                    </a>
                    <a class="nav-item nav-link {% if request.path == '/farmer/view/' %} active {% endif %}"
                       title="Allevatori" href="{{ url_for('farmer_view') }}">
                        {% if request.path == '/farmer_view/' %}
                            <img src="{{ url_for('static', filename='icons/agriculture-active.svg') }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/agriculture.svg') }}" alt="">
                        {% endif %}
                        Allevatori
                    </a>
                    <a class="nav-item nav-link {% if request.path == '/buyer/view/' %} active {% endif %}"
                       title="Acquirenti" href="{{ url_for('buyer_view') }}">
                        {% if request.path == '/buyer_view/' %}
                            <img src="{{ url_for('static', filename='icons/store-active.svg') }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/store.svg') }}" alt="">
                        {% endif %}
                        Acquirenti
                    </a>
                    <a class="nav-item nav-link {% if request.path == '/slaughterhouse/view/' %} active {% endif %}"
                       title="Acquirenti" href="{{ url_for('slaughterhouse_view') }}">
                        {% if request.path == '/slaughterhouse_view/' %}
                            <img src="{{ url_for('static', filename='icons/building-active.svg') }}" alt="">
                        {% else %}
                            <img src="{{ url_for('static', filename='icons/building.svg') }}" alt="">
                        {% endif %}
                        Macelli
                    </a>
                    <a class="nav-item nav-link" title="Log-out" href="{{ url_for('logout') }}">
                        <img src="{{ url_for('static', filename='icons/box-arrow-out-right.svg') }}" alt="">
                        LogOut
                    </a>
                </div>
            </div>
        </nav>
        <!-- Messaggio gestione errori std -->
        <div class="container text-center mt-3 message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: #ED6666">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- JavaScript Bundle with Popper for boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" charset="utf8"
            src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js">
    </script>

    {% block scripts %}
    {% endblock %}
</body>
<footer class="footer">
    <hr>
    <br>
    <th class="footer-text"> Consorzio del Bue Grasso di Carrù - © Copyright 2017 - Tutti i diritti riservati - I marchi
        riportati in questo sito appartengono ai legittimi proprietari
    </th>
    <br>
    <th class="footer-text">
        Powered by - © 2021 Celerya S.r.l. |
        <a href="https://celerya.com">celerya.com</a> | info@celerya.com
    </th>
    <br><br>
    <hr>
</footer>

</html>
