<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><span style="color:#565656">Make this Notebook Trusted to load map: File -> Trust Notebook</span><iframe srcdoc="&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    
    &lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
    
        &lt;script&gt;
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        &lt;/script&gt;
    
    &lt;style&gt;html, body {width: 100%;height: 100%;margin: 0;padding: 0;}&lt;/style&gt;
    &lt;style&gt;#map {position:absolute;top:0;bottom:0;right:0;left:0;}&lt;/style&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery-1.12.4.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js&quot;&gt;&lt;/script&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css&quot;/&gt;
    
            &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no&quot; /&gt;
            &lt;style&gt;
                #map_f4775dc818df0fd7f6e6ce958668fd03 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            &lt;/style&gt;
        
&lt;/head&gt;
&lt;body&gt;
    
    
            &lt;div class=&quot;folium-map&quot; id=&quot;map_f4775dc818df0fd7f6e6ce958668fd03&quot; &gt;&lt;/div&gt;
        
&lt;/body&gt;
&lt;script&gt;
    
    
            var map_f4775dc818df0fd7f6e6ce958668fd03 = L.map(
                &quot;map_f4775dc818df0fd7f6e6ce958668fd03&quot;,
                {
                    center: [44.48, 7.87],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                    name: &quot;Mappa acquirenti Consorzio&quot;,
                }
            );

            

        
    
            var tile_layer_e1fda1c2c8e61b4131a88a9f433906b2 = L.tileLayer(
                &quot;https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg&quot;,
                {&quot;attribution&quot;: &quot;Map tiles by \u003ca target=\&quot;_blank\&quot; href=\&quot;http://stamen.com\&quot;\u003eStamen Design\u003c/a\u003e, under \u003ca target=\&quot;_blank\&quot; href=\&quot;http://creativecommons.org/licenses/by/3.0\&quot;\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\&quot;_blank\&quot; href=\&quot;http://openstreetmap.org\&quot;\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\&quot;_blank\&quot; href=\&quot;http://creativecommons.org/licenses/by-sa/3.0\&quot;\u003eCC BY SA\u003c/a\u003e.&quot;, &quot;detectRetina&quot;: false, &quot;maxNativeZoom&quot;: 18, &quot;maxZoom&quot;: 18, &quot;minZoom&quot;: 0, &quot;noWrap&quot;: false, &quot;opacity&quot;: 1, &quot;subdomains&quot;: &quot;abc&quot;, &quot;tms&quot;: false}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var marker_0b8b2003fe74a6a236589d37089aec25 = L.marker(
                [44.50584986480969, 7.9865646029388175],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_b70d3f7f471624be5abc026f06f59771 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_0b8b2003fe74a6a236589d37089aec25.setIcon(icon_b70d3f7f471624be5abc026f06f59771);
        
    
        var popup_d9b9ea399d972c25906ca758ef28599d = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_224a2267bede7ef7f6bdeaa4d943e76d = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBCYWxsYXVyaSBGcmFuY2VzY288L3A+PHA+PHN0cm9uZz5JbmRpcml6em86PC9zdHJvbmc+IENhc2NpbmEgTWVybGEsIDIgLSAxMjA2MCAtIEJlbHZlZGVyZSBMYW5naGUgKENOKTwvcD48cD48c3Ryb25nPlRlbGVmb25vOjwvc3Ryb25nPiAzMzggOTY4NjM2NDwvcD4=&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_d9b9ea399d972c25906ca758ef28599d.setContent(i_frame_224a2267bede7ef7f6bdeaa4d943e76d);
            
        

        marker_0b8b2003fe74a6a236589d37089aec25.bindPopup(popup_d9b9ea399d972c25906ca758ef28599d)
        ;

        
    
    
            marker_0b8b2003fe74a6a236589d37089aec25.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_5a84fc7bc427976583d48de508db9799 = L.marker(
                [44.588231789575836, 7.90677893881798],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_17df55363a9eb0c3a893ba3d9a14b05e = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_5a84fc7bc427976583d48de508db9799.setIcon(icon_17df55363a9eb0c3a893ba3d9a14b05e);
        
    
        var popup_a9f0797cee8ef6cb0d5e8b05cf25881e = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_6cb9d1d560dac8f9c37498a49babf782 = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBBYmJvbmEgQW50b25pbm88L3A+PHA+PHN0cm9uZz5JbmRpcml6em86PC9zdHJvbmc+IExvY2FsaXTDoCBGYXNhbmEsIDUgLSAxMjA2MCAtIE5vdmVsbG8gKENOKTwvcD48cD48c3Ryb25nPlRlbGVmb25vOjwvc3Ryb25nPiAzMzMgNzI3ODQ5NTwvcD4=&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_a9f0797cee8ef6cb0d5e8b05cf25881e.setContent(i_frame_6cb9d1d560dac8f9c37498a49babf782);
            
        

        marker_5a84fc7bc427976583d48de508db9799.bindPopup(popup_a9f0797cee8ef6cb0d5e8b05cf25881e)
        ;

        
    
    
            marker_5a84fc7bc427976583d48de508db9799.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_038ad961e767d55981651e68fde61268 = L.marker(
                [44.39535978090723, 7.970301331873086],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_cba1bb4215f3e2c2c08d73f9137d409c = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_038ad961e767d55981651e68fde61268.setIcon(icon_cba1bb4215f3e2c2c08d73f9137d409c);
        
    
        var popup_0088d665d76e46cc1bc830c68404cef8 = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_5920f687f4c27cd82138aa6610ee5fab = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBCb25vbmUgZGkgTHVjaWFubyBXYWx0ZXI8L3A+PHA+PHN0cm9uZz5JbmRpcml6em86PC9zdHJvbmc+IExvY2FsaXTDoCBCb25vbmUsIDggLSAxMjA3NiAtIExlc2Vnbm8gKENOKTwvcD48cD48c3Ryb25nPlRlbGVmb25vOjwvc3Ryb25nPiAzMjkgMTA5ODk4MTwvcD4=&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_0088d665d76e46cc1bc830c68404cef8.setContent(i_frame_5920f687f4c27cd82138aa6610ee5fab);
            
        

        marker_038ad961e767d55981651e68fde61268.bindPopup(popup_0088d665d76e46cc1bc830c68404cef8)
        ;

        
    
    
            marker_038ad961e767d55981651e68fde61268.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_30f9b32be065bc886a2b33ccb7cfb8c3 = L.marker(
                [44.43900246513537, 7.776372522763659],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_1dd8cd1a6a45a148e43e4afa86ee6854 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_30f9b32be065bc886a2b33ccb7cfb8c3.setIcon(icon_1dd8cd1a6a45a148e43e4afa86ee6854);
        
    
        var popup_be607bbba872d3138737bcbc16acc078 = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_68ea5c5271579a74fc219e213ad9cb45 = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBCb3R0ZXJvIEdpYW4gTWFyY288L3A+PHA+PHN0cm9uZz5JbmRpcml6em86PC9zdHJvbmc+IFZpYSBQZXJvdHRhIENhc2NpbmEgU3Bpw6AgLSAxMjA2MCAtIE1hZ2xpYW5vIEFscGkgKENOKTwvcD48cD48c3Ryb25nPlRlbGVmb25vOjwvc3Ryb25nPiAzMzMgMjIyOTcwNTwvcD4=&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_be607bbba872d3138737bcbc16acc078.setContent(i_frame_68ea5c5271579a74fc219e213ad9cb45);
            
        

        marker_30f9b32be065bc886a2b33ccb7cfb8c3.bindPopup(popup_be607bbba872d3138737bcbc16acc078)
        ;

        
    
    
            marker_30f9b32be065bc886a2b33ccb7cfb8c3.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_f324dcfe64a785d28dfaff1156969598 = L.marker(
                [44.4653174970542, 7.916137421556587],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_24b7b55628a03b23e6c0852947d2ad94 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_f324dcfe64a785d28dfaff1156969598.setIcon(icon_24b7b55628a03b23e6c0852947d2ad94);
        
    
        var popup_d4bd56da95451f909d1e4268a76bcd55 = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_e3d0cebcfe5f537d729680bed622b35c = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBCcmFjY28gTWFyaWEgQ3Jpc3RpbmE8L3A+PHA+PHN0cm9uZz5JbmRpcml6em86PC9zdHJvbmc+IFZpYSBHaGlnbGlhbmksIDI1IC0gMTIwNjAgLSBDbGF2ZXNhbmEgKENOKTwvcD48cD48c3Ryb25nPlRlbGVmb25vOjwvc3Ryb25nPiAzMjggODc3MDAzNDwvcD4=&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_d4bd56da95451f909d1e4268a76bcd55.setContent(i_frame_e3d0cebcfe5f537d729680bed622b35c);
            
        

        marker_f324dcfe64a785d28dfaff1156969598.bindPopup(popup_d4bd56da95451f909d1e4268a76bcd55)
        ;

        
    
    
            marker_f324dcfe64a785d28dfaff1156969598.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_742d38bfe95e64d714b7dc0047081cdf = L.marker(
                [44.433857164908034, 7.927122473787561],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_a4df3ad87053f485c344a6d99389e8d4 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_742d38bfe95e64d714b7dc0047081cdf.setIcon(icon_a4df3ad87053f485c344a6d99389e8d4);
        
    
        var popup_329ae3bfd3124d5ff148aacc28998f6d = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_dbdb75d4798bd15ee9629e0f3a326e26 = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBBZ3JpdHVyLiBBbGzigJlvbWJyYSBkZWwgQ2FzdGVsbG8gZGkgTWFyZW5nbyBHaWFuZnJhbmNvPC9wPjxwPjxzdHJvbmc+SW5kaXJpenpvOjwvc3Ryb25nPiBWaWEgUHJvdmluY2lhbGUgQmFzdGlhLCAxIC0gMTIwNjAgLSBDaWdsacOoIChDTik8L3A+PHA+PHN0cm9uZz5UZWxlZm9ubzo8L3N0cm9uZz4gMzMzIDI0Nzg0Mzg8L3A+&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_329ae3bfd3124d5ff148aacc28998f6d.setContent(i_frame_dbdb75d4798bd15ee9629e0f3a326e26);
            
        

        marker_742d38bfe95e64d714b7dc0047081cdf.bindPopup(popup_329ae3bfd3124d5ff148aacc28998f6d)
        ;

        
    
    
            marker_742d38bfe95e64d714b7dc0047081cdf.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_857c5355bd3817463d2dd0c620bd84ff = L.marker(
                [44.472824653663814, 7.832661852914453],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_99ba0ef9b219c6213552c6bd137919b5 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_857c5355bd3817463d2dd0c620bd84ff.setIcon(icon_99ba0ef9b219c6213552c6bd137919b5);
        
    
        var popup_b1d8f7b437140dbf5756b240d98d535b = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_4bfd3be9abf92dda2312181b259e7265 = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBBbGxpb25lIENhcmRvbmUgR2lhbmZyYW5jbzwvcD48cD48c3Ryb25nPkluZGlyaXp6bzo8L3N0cm9uZz4gU3RyYWRhIFNhbnQnQW5uYSwgMTYgLSAxMjA2MSAtIENhcnLDuSAoQ04pPC9wPjxwPjxzdHJvbmc+VGVsZWZvbm86PC9zdHJvbmc+IDMzOCA5OTk2MzI4PC9wPg==&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_b1d8f7b437140dbf5756b240d98d535b.setContent(i_frame_4bfd3be9abf92dda2312181b259e7265);
            
        

        marker_857c5355bd3817463d2dd0c620bd84ff.bindPopup(popup_b1d8f7b437140dbf5756b240d98d535b)
        ;

        
    
    
            marker_857c5355bd3817463d2dd0c620bd84ff.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
    
            var marker_0107534e964db9acf119f67f26cb93c7 = L.marker(
                [44.576744018220886, 7.8934373592524345],
                {&quot;iconSize&quot;: [20, 20]}
            ).addTo(map_f4775dc818df0fd7f6e6ce958668fd03);
        
    
            var icon_70e084159c93ef0d6f832ac11b77d301 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;dollar&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;green&quot;, &quot;prefix&quot;: &quot;fa&quot;}
            );
            marker_0107534e964db9acf119f67f26cb93c7.setIcon(icon_70e084159c93ef0d6f832ac11b77d301);
        
    
        var popup_fc28a215be7a46de2569aa591ade1810 = L.popup({&quot;maxWidth&quot;: 300});

        
            
                var i_frame_799fe407037ddaea86d4f2ad529e3096 = $(`&lt;iframe src=&quot;data:text/html;charset=utf-8;base64,CiAgICA8c3R5bGU+IGgxIHtmb250LXNpemU6IDE0cHg7IGNvbG9yOiAjMkI0NjkyfSBwIHtmb250LXNpemU6IDEwcHg7IG1hcmdpbjogNXB4fSA8L3N0eWxlPjxoMT5BbGxldmFtZW50bzwvaDE+PHA+PHN0cm9uZz5Ob21lOjwvc3Ryb25nPiBBei4gQWdyLiBDYW5lIE1hdHRlbzwvcD48cD48c3Ryb25nPkluZGlyaXp6bzo8L3N0cm9uZz4gRnJhemlvbmUgTW9yaWdsaW9uZSwgNTAgLSAxMjA2OCAtIE5hcnpvbGUgKENOKTwvcD48cD48c3Ryb25nPlRlbGVmb25vOjwvc3Ryb25nPiAzMzMgNjU5NTcyNjwvcD4=&quot; width=&quot;300&quot; style=&quot;border:none !important;&quot; height=&quot;100&quot;&gt;&lt;/iframe&gt;`)[0];
                popup_fc28a215be7a46de2569aa591ade1810.setContent(i_frame_799fe407037ddaea86d4f2ad529e3096);
            
        

        marker_0107534e964db9acf119f67f26cb93c7.bindPopup(popup_fc28a215be7a46de2569aa591ade1810)
        ;

        
    
    
            marker_0107534e964db9acf119f67f26cb93c7.bindTooltip(
                `&lt;div&gt;
                     Clicca!
                 &lt;/div&gt;`,
                {&quot;sticky&quot;: true}
            );
        
&lt;/script&gt;
&lt;/html&gt;" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div></div>